body {
  font-family: "Sora", sans-serif;
}

[data-theme="light"] {
  /* Backgrounds */
  --color-background: #f8faf9;
  --color-surface: #dbe7df;
  --color-overlay: rgb(0 0 0 / 0.7);
  --color-nav: #000000;

  /* Text */
  --color-text: #14231a;
  --color-text-secondary: #46574b;

  /* Borders */
  --color-border: #b7c9bc;
  --color-border-product: #a4baaa;
}

[data-theme="dark"] {
  /* Backgrounds */
  --color-background: #080d0a;
  --color-surface: #111b14;
  --color-overlay: rgb(0 0 0 / 0.7);
  --color-nav: #242524;

  /* Text */
  --color-text: #edf8f0;
  --color-text-secondary: #a8b8ad;

  /* Borders */
  --color-border: #35513d;
  --color-border-product: #22c55e;
}
